    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>

    <div class="container">
	<h1>Inventory Manager</h1>
	<p>Here will the site be built.</p>

	<h2>Card Search</h2>
	<div ng-model="cards">
		<form ng-submit="searchCard()">
			<input type="text"
				ng-model="cardSearch.card"  
				placeholder="Card Name" 
				class="form-control"/>
			<button class="btn">
				Search Card
			</button>
		</form>

		<div ng-repeat="card in cards" class="invMan__cards">
			<div ng-repeat="printing in card.cards[0].printings">
				<img src="http://magiccards.info/scans/en/{{printing.toLowerCase()}}/{{card.cards[0].number}}.jpg" width="224" height="320" alt="{{card.cards[0].name}}"/>
			</div>
		</div>
	</div>

	<h2>Inventory</h2>
	<div ng-model="inventory">
		<button class="btn"
			ng-click="getInventory()">
			Get Inventory
		</button>
		<table class="table">
			<tr>
				<td class="invMan__cards" 
					ng-repeat="card in inventory">
					<img src="http://magiccards.info/scans/en/{{card.printing[0].toLowerCase()}}/{{card.number}}.jpg" width="224" height="320" alt="{{card.name}}"/>
				</td>
			</tr>
		</table>
	</div>

	<h2>Decks</h2>
	<div ng-model="decks">
		<button class="btn"
			ng-click="getDecks()">
			Get Decks
		</button>
		<table class="table">
			<tr ng-repeat="deck in decks">
				<td class="invMan__cards" 
					ng-repeat="card in deck.cards">
					<img src="http://magiccards.info/scans/en/{{card.printing[0].toLowerCase()}}/{{card.number}}.jpg" width="224" height="320" alt="{{card.name}}"/>
				</td>
			</tr>
		</table>
	</div>	
</div>