<div class="container">

	<nav class="navbar navbar-inverse">
  		<div class="container-fluid">
    		<div class="navbar-header">
      		<a class="navbar-brand" href="#">Inventory Manager</a>
    	</div>
    	<ul class="nav navbar-nav">
      		<li class="active"><a ui-sref="login">Home</a></li>
      		<li><a ui-sref="invMan">Inventory Manager</a></li>
      		<li><a ui-sref="admin">Administration</a></li>
      		<li><a ui-sref="about">About</a></li>
    	</ul>
    	<ul class="nav navbar-nav navbar-right">
      		<li><a ui-sref="login"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      		<li><a ui-sref="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    	</ul>
  		</div>
	</nav>

	<div ng-model="user"
		class="invMan__login">
		<form>
			<input type="text" 
				name="username" 
				placeholder="User Name"
				ng-model="user.username" />
			<input type="password" 
				name="password" 
				placeholder="Password"
				ng-model="user.password" />
			<button ng-click="login()"
				type="submit"
				ng-if="!$rootScope.user"
				class="btn btn-info">
				Login
			</button>
			<button ng-click="logout()"
				class="btn btn-danger">
				Logout
			</button>
			<button ng-click="onRegisterClick(user)"
				class="btn btn-danger">
				Register
			</button>
		</form>
	</div>

	<form ng-submit="register()"
		ng-show="!user.isRegistered" 
		class="invMan__register">
		<input type="text" 
			name="firstname" 
			placeholder="First Name"
			ng-model="user.firstname" 
			class="form-control" />
		<input type="text" 
			name="lastname" 
			placeholder="Last Name"
			ng-model="user.lastname"
			class="form-control" />
		<input type="text" 
			name="username" 
			placeholder="User Name"
			ng-model="user.username" 
			class="form-control" />
		<input type="password" 
			name="password" 
			placeholder="Password"
			ng-model="user.password"
			class="form-control" />
		<input type="password" 
			name="password_confirmation" 
			placeholder="Confirm Password"
			ng-model="user.password_confirmation"
			class="form-control" />
		<input type="text" 
			name="email" 
			placeholder="Email Address"
			ng-model="user.email"
			class="form-control" />	
		<button type="submit"
			ng-if="!$rootScope.user"
			class="btn btn-info">
			Register
		</button>
	</form>
</div>