.invMan {

	&__login {
		float: right;
	    margin-top: 20px;
	}

	&__cards {
		height: 332px;
	}

	&__deck-input {
    	width: 234px;
	}

	&__deck-panel {
		width: 234px;
		height: 340px;
	}

}

.panel-body {
	height: 77%
}